<section class=" mb-2 p-10">
  <div class="">
    <form class="w-1/2 mx-auto my-7 shadow-lg p-10" [formGroup]="logIn" (ngSubmit)="logInbtn()">
  <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
          <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="john.doe@company.com" required />
      </div>
      @if(logIn.get('email')?.errors && logIn.get('email')?.touched ){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (logIn.get('email')?.getError('required')){
                  <li>email is requierd</li>
                }
                @if (logIn.get('email')?.getError('email')  )
                {
                  <li >enter a valid email</li>
                }
              </ul>
          </div>
        </div>
        }
              <div class="mb-6">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
          <input formControlName="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "  required />
      </div>
            @if(logIn.get('password')?.errors && logIn.get('password')?.touched )
            {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (logIn.get('password')?.getError('required')){
                  <li>password is requierd</li>
                }
                <!-- @if (logIn.get('password')?.getError('pattern')  )
                {
                  <li >password should contain at least spacefic caracter like: #$% ...</li>
                } -->
              </ul>
          </div>
        </div>
      }
      @if (errMessage) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
        <p>{{errMessage}}</p>
      </div>
      }
      <div class="mb-4">
        <a routerLink="/forgot" class="text-blue-800" >forgot password</a>
      </div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-cyan-400 cursor-none">logIn</button>
</form>
  </div>
</section>
