@if(step == 1){
  <form [formGroup]="forgot" (ngSubmit)="forgotPass()">
  <div class="mb-6">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
          <input formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="john.doe@company.com" required />
      </div>
      @if(forgot.get('email')?.errors && forgot.get('email')?.touched ){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (forgot.get('email')?.getError('required')){
                  <li>email is requierd</li>
                }
              </ul>
          </div>
        </div>
        }
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-cyan-400 cursor-none">Send</button>
        @if (message) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                <li>{{message}}</li>
                </ul>
            </div>
            </div>
        }
</form>
}
@if(step == 2)
{
<form [formGroup]="verfiyCode" (ngSubmit)="vcode()">
  <div class="mb-6">
          <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900">Reset Code</label>
          <input formControlName="resetCode" type="text" id="resetCode" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "  required />
      </div>
      @if(forgot.get('resetCode')?.errors && forgot.get('resetCode')?.touched ){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (forgot.get('resetCode')?.getError('required')){
                  <li>code is requierd</li>
                }
                @if (message) {
                  <li>{{message}}</li>
                }
              </ul>
          </div>
        </div>
        }
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-cyan-400 cursor-none">Send</button>
</form>
}
@if(step == 3)
{
  <form [formGroup]="resetPassword" (ngSubmit)="reset()" >
    <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email address</label>
            <input readonly formControlName="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="john.doe@company.com" required />
        </div>
        @if(forgot.get('email')?.errors && forgot.get('email')?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (forgot.get('email')?.getError('required')){
                    <li>email is requierd</li>
                  }
                </ul>
            </div>
          </div>
          }
    <div class="mb-6">
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900">Enter new password</label>
            <input formControlName="newPassword" type="Password" id="newPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="john.doe@company.com" required />
        </div>
        @if(forgot.get('newPassword')?.errors && forgot.get('newPassword')?.touched ){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (forgot.get('newPassword')?.getError('required')){
                    <li>newPassword is requierd</li>
                  }
                </ul>
            </div>
          </div>
          }
                  @if (message) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
          <span class="sr-only">Danger</span>
          <div>
              <ul class="mt-1.5 list-disc list-inside">
                <li>{{message}}</li>
                </ul>
            </div>
            </div>
        }
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:bg-cyan-400 cursor-none">Send</button>
  </form>
}
